extends layout

block content
  .list-item
    .people_container 
      h1 People
      each person in people
        .person_container
          .list-item
            .label Name:
            span= person.display_name
          .list-item
            .label Email:
            span= person.email_address
          .list-item
            .label Job Title:
            span= person.title

    .char_frequency_container
      h1 Character Frequency
      table
        tr 
          td Character
          td Count
        each characterDetail in characterDetails
          tr
            td= characterDetail.name
            td= characterDetail.occurrences





